{% extends "@FOSUser/layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block fos_user_content %}
<div class="card row align-items-center justify-content-center" >
  <img src="{{asset('bundles/app/img/icon.ico')}}" class="card-img-top" style="width: 16rem;">
  <div class="card-body">
{% if error %}
   <div class="text-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<form action="{{ path("fos_user_security_check") }}" method="post">
<div class="form-row">
<div class="form-group">
   <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
<div class="form-group">
   <label for="username">{{ 'security.login.username'|trans }}</label>
   <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
</div>
<div class="form-group">
   <label for="password">{{ 'security.login.password'|trans }}</label>
   <input class="form-control" type="password" id="password" name="_password" required="required" />
<div>
<div class="checkbox">
   <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
   <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
</div>
    <button type="submit" class="btn btn-primary" id="_submit" name="_submit">{{ 'security.login.submit'|trans }}</button>

</div>
</div>
</form>
</div>
</div>
{% endblock fos_user_content %}